* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
}
button {
  border: 0px;
  height: 40px;
  min-width: 120px;
  padding: 0 8px;
  border-radius: 12px;
  font-size: 1.6rem;
  background-color: cadetblue;
}
button:hover {
  cursor: pointer;
}
